{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div class="row mt-5">
  <div class="col-lg-6 mt-5">
    <div class="box-element" id="form-wrapper">
      <form id="form">
        <div id="shipping-info">
        <hr>
        <h2>shipping Information</h2>
        <hr>
        <div class="form-field">
          <input class="form-control" type="text" name="address" placeholder="Address...">
        </div>
        <div class="form-field">
          <input class="form-control" type="text" name="city" placeholder="City...">
        </div>
        <div class="form-field">
          <input class="form-control" type="text" name="state" placeholder="State...">
        </div>
        <div class="form-field">
          <input class="form-control" type="text" name="zipcode" placeholder="Zip code...">
        </div>
        </div>
        <hr>
      
      </form>
    <div>
      <div class="box-element mb-5" id="payment-info">
        <small></small>
        <button class="btn btn-success" type="button" id="placeOrder">place Order</button>
        
      </div>
  </div>
</div>
  </div>
  <div class="col-lg-6 mt-5">
    <div class="box-element">
      
      <hr>
      <h3>Order Summary</h3>
      <hr>
      {% for item in order.get_cart_items %}
      <div class="cart-row">
        <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
        <div style="flex:2"><p>{{item.product.name}}</p></div>
        <div style="flex:2"><p>{{item.product.price}}</p></div>
   
      </div>
      {% endfor %}
    </div>
  
  </div>
 </div>
</div>

<script>
  var form=document.getElementById('form')
  var total='{{order.get_cart_total|floatformat:2}}'
  document.getElementById('placeOrder').addEventListener('click',function(e){
    submitFormData()
  })

  function submitFormData(){
    console.log("hey order placed")
   
    var userFormData={
      'name':null,
      'email':null,
      'total':total,
    }

    
    var shippingInfo={
      'address':form.address.value,
      'city':form.city.value,
      'state':form.state.value,
      'zipcode':form.zipcode.value,
    }
  
  fetch('/cart/process_order/',{
    method:'POST',
    headers:{
      'Content-Type': 'application/json',
      
    },
    body: JSON.stringify({'form':userFormData,'shipping':shippingInfo})})
  .then(response => response.json())
  .then(data =>{
    console.log("success",data);
    alert('order placed successfully');
  
    window.location.href="{% url 'home:index' %}"
    
  })
  
  }
  
</script>


{% endblock %}
