{% extends "base.html" %}

{% block content %}

<section >
         <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome to <strong class="color">Kabaadiwala.com</strong></h1>
                              <h2>Donate Your <strong class="color">Kabaad</strong></h2>
                              <p>Here you can Upload your kabaad and sell it at the most suitable price.You can also sell your kabaad for free.</p>
                              <a class="btn btn-lg btn-primary" href="{% url 'addkabaad:create-sell' %}" role="button">Sell Kabaad</a>
                              <!--<a class="btn btn-lg btn-primary" href="about.html" role="button"></a>-->
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure >
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome to <strong class="color">Kabaad</strong></h1>
                              <p></p>
                              <a class="btn btn-lg btn-primary" href="#" role="button">Buy Kabaad</a>
                              <a class="btn btn-lg btn-primary" href="about.html" role="button">About</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box ">
                              <figure><img src="https://ik.imagekit.io/0xdm01uqieh/162382962_15594869001_large_Bbj-pRWeY.jpg" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Donate<strong class="color">Kabaad</strong></h1>
                              <p></p>
                              <a class="btn btn-lg btn-primary" href="#" role="button">Donate Now</a>
                              <a class="btn btn-lg btn-primary" href="about.html" role="button">About</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="https://ik.imagekit.io/0xdm01uqieh/2015-Bajaj-Pulsar-220-F---25800-kms-driven-in-Nehru-Nagar-VB201705171774173-ak_WBP1941185011-1615868582_QVAJlzdOL.png" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i></a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
         </div>
      </section>
      <!-- plant -->

      <!-- end plant -->
      <!--about -->
      <div class="section about ">
         <div class="container">
             <div class="row">
                <div class="col-12">
                    <div class="titlepage">
                     <h2><strong class="black"> About</strong>  Us</h2>
                     <span>Kabaadiwala.com is a platform for people to sell or donate products that are of no use for them. The users will have the option to either sell their products to some customers or donate them to the people in need. This platform will act as a bridge between the economically weaker section and the financially stable section. This will also help in reducing the waste production and will also help in the implementation of three R’s of Waste Management making the city clean and green.</span>
                  </div>
                </div>
             </div>
         </div>
      </div>



      <section >
         <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-sporrt_text ">
                              <h1 class="sporrt_text">Our Services</h1>
                              <h2  class="lorem_text">Seller and buyer both could access both website and android application to upload the product.
                                 Products should be arranged according to the category.
                                 Buyer could review the product and could be able to communicate with the seller.
                                 Both app and website should work concurrently.
                                 Buyer could also enter address and contact details for home delivery of products .
                                 Seller should be able to add Waste Products.
                                 Buyer should be able to buy waste product according to the category mentioned.
                                 Sellers should be able to donate products for free.</h2>
                     
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="https://ik.imagekit.io/0xdm01uqieh/4710262_waste-management-logo-waste-disposal-clipart-hd-png_yhis-Iu7R.png" style="max-width: 100%; border: 15px solid #fff;"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               
               
            </div>
         </div>
      </section>
      </div>
      <!-- end about -->
      <!--Our  Clients -->
      
 
 
      <!-- end Our  Clients -->
      <!-- start Contact Us-->

      <div id="plant" class="contact_us layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                    <h2><strong class="black"> Contact</strong>  Us</h2>
                     <span style="text-align: center;">If you have any queries please contact us through this form. </span>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="contact_us_2 layout_padding paddind_bottom_0">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="soc_text">kabaadiwala.com</div>
               </div>
               <div class="col-md-6">
                  <div class="email_btn">
                     <form action="/action_page.php">
                        <div class="form-group">
                           <input type="text" class="form-control form-control-sm" placeholder="Name" name="Name">
                        </div>
                        <div class="form-group">
                           <input  type="text" class="form-control form-control-sm" placeholder="Email" name="Email">
                        </div>
                        <div class="form-group">
                           <input  type="text" class="form-control form-control-sm" placeholder="Phone" name="Phone">
                        </div>
                        <div class="form-group">
                           <input  type="text" class="form-control form-control-sm" placeholder="Massage" name="text3">
                        </div>
                         <div class="submit_btn">
                            <button type="submit" class="btn btn-primary" style="background: #081b30; color: #fff; padding: 11px;">Send</button>
                         </div>
                      </form>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="contact_us_3 layout_padding">
            <div class="row">
               <div class="col-md-4">
                  <h1 style="color: #ffffff; ">Connect</h1>
                  <p class="long_text">If you want to get notified then subscribe to our application</p>
               </div>
               <div class="col-md-8">
                  <div class="email_text">
                     <div class="input-group mb-3">
                        <input style="border-bottom-left-radius: 20px !important; border-top-left-radius: 20px !important;" type="text" class="form-control" placeholder="Enter your email">
                     <div class="input-group-append">
                        <button style="border-top-right-radius: 20px !important; border-bottom-right-radius: 20px !important; color: #fff; padding-bottom: 10px; padding-top: 10px;" class="btn btn-primary" type="Subscribe">Subscribe</button>  
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
            </div>
         </div>
      </div>

      
    <div id="footer" class="Address layout_padding">
       <div class="container">
          <div class="row">
             <div class="col-sm-12">
               <div class="titlepage">
                  <div class="main">
                     <h1 class="address_text">Address</h1>
                  </div>
               </div>
             </div>
          </div>
               <div class="address_2">
                  <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-4">
                       <div class="site_info">
                          <span class="info_icon"><img src="https://ik.imagekit.io/0xdm01uqieh/map-icon_mpayK3Pc6.png" /></span>
                          <span style="margin-top: 10px;">ward no 08 house number 102 bara chouraha banda sagar</span></div>
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-4">
                       <div class="site_info">
                          <span class="info_icon"><img src="https://ik.imagekit.io/0xdm01uqieh/phone-icon_PeOwabd7ih.png" /></span>
                          <span style="margin-top: 21px;">( +91 7974786664 )</span></div>
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-4">
                       <div class="site_info">
                          <span class="info_icon"><img src="https://ik.imagekit.io/0xdm01uqieh/email-icon_D_YAI84aeu.png" /></span>
                          <span style="margin-top: 21px;">techieanuj7@gmail.com</span></div>
                     </div>
                     </div> 
                  </div>
               </div>
                  <div class="menu_main">
                     <div class="menu_text">
                        <ul>
                           <li class="active"><a href="#">Home</a></li>                         
                          
                           <li><a href="{% url 'addkabaad:create-sell' %}">sell</a></li>
                           <li><a href="{% url 'addkabaad:create-donate' %}">Donate</a></li>
                           <li><a href=" {% url 'addkabaad:list' %}">Buy</a></li>
                        </ul>
                     </div>
                  </div>
       </div>
    </div>


{% endblock %}